.hide {
    display: none;
}

.flex {
    display: flex;
}

.sideDiv {
    width: 92px;
    margin-left: 20px;
    margin-right: 20px;
}

.buttonList {
    list-style: none;
    margin: 0;
    padding: 0;
}
